<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	
		<ul class="nav nav-tabs pull-right" style="font-size: 15px">
		<li role="presentation">
			<a href="/">Home</a>
		</li>
		<li role="presentation">
			<a href="store">Store</a>
		</li>
		<li role="presentation">
			<a href="review">Review</a>
		</li>
		<li role="presentation">
			<a href="signup">Sign Up</a>
		</li>
		<li role="presentation">
			<a href="toDelete">Delete Account</a>
		</li>
	</ul>
	<legend></legend>
</body>
</html>

<h1>403 Forbidden: You don't have access to the page </h1>