<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<meta charset="UTF-8">
	<title>Home</title>
</head>

<body>
	<ul class="nav nav-tabs pull-right" style="font-size: 15px">
		<li role="presentation">
			<a href="/">Home</a>
		</li>
		<li role="presentation">
			<a href="store">Store</a>
		</li>
		<li role="presentation">
			<a href="review">Review</a>
		</li>
		<li role="presentation">
			<a href="signup">Sign Up</a>
		</li>
	</ul>
	<legend></legend>

	<center><h2>View Your Profile</h2></center>

<form method="POST" action="/viewprofile" class="form-horizontal">
	<fieldset>
		<!-- Email -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">Email</label>
			<div class="col-md-4">
				<input id="email" name="email" placeholder="Insert your Email" class="form-control input-md" required="" type="text">
				<span class="help-block"></span>
			</div>
		</div>

		<!-- password-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">Password</label>
			<div class="col-md-4">
				<input id="password" name="password" placeholder="Insert your Password" class="form-control input-md" required="" type="text">
				<span class="help-block"></span>
			</div>
		</div>

		<!-- Button -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="singlebutton"></label>
			<div class="col-md-4">
				<button id="singlebutton" name="singlebutton" class="btn btn-primary pull-right" type='submit' >View Profile</button>
			</div>
		</div>
	</fieldset>
</form>

</body>
</html>