<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<meta charset="UTF-8">
	<title>index</title>
</head>

<body>
	<ul class="nav nav-tabs pull-right" style="font-size: 20px">
		<li role="presentation">
			<a href="login.html">Login</a>
		</li>
		<li role="presentation">
			<a href="signup.html">SignUp</a>
		</li>
	</ul>
	<legend></legend>
</body>

</html>