<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>

    <ul class="nav nav-tabs pull-right" style="font-size: 15px">
        <li role="presentation">
            <a href="/">Home</a>
        </li>
        <li role="presentation">
            <a href="store">Store</a>
        </li>
        <li role="presentation">
            <a href="review">Review</a>
        </li>
        <li role="presentation">
            <a href="signup">Sign Up</a>
        </li>
    </ul>
    <legend></legend>

    <h1 style="text-align: center">Online Store</h1>
    <hr>

    <center>
        <table width="65%">
            <thead>
                <tr>
                    <th>Pid</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Weight</th>
                </tr>
            </thead>
            <tbody>
                {% for l in data %}
                <tr>
                    {% for att in l %}
                    <td>{{att}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
</body>
</html>