<!DOCTYPE html>
<html lang="en">
<head>

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>


	<link rel="stylesheet" type="text/css" href="css/store.css">
	<script type="text/javascript" src="js/store.js"></script>

	<meta charset="UTF-8">
	<title>Store</title>
</head>
<body>

	<h1 style="text-align: center">Online Store</h1><hr>

	<table id="example" class="cell-border" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Picture</th>
                <th>Price</th>
                <th>Weight</th>
                <th>Supplier</th>
                <th>starGrade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            	<td><a href="mbp.html">Macbook Pro</a></td>
                <td><img src="img/mbp.jpg"></td>
                <td>$2000</td>
                <td>3.48lb</td>
                <td>Apple Inc.</td>
                <td>4</td>
            </tr>
        </tbody>
    </table> 

	</body>
</html>